@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code {
    width: 225px;
    height: auto;
    background-color: var(--White);
    box-shadow: 0px 0px 15px 0px var(--Grayish-blue);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.qr-code:hover {
    box-shadow: 0px 0px 10px 10px var(--Grayish-blue);
}

.img-container {
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}



.qr-code__img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.qr-code__heading {
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
    padding: 1.3rem 1rem;
}

.qr-code__text {
    color: var(--Grayish-blue);
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}


/* Deskop design */

@media screen and (min-width: 1240px) {
    
    .qr-code {
        width: 300px;
    }

    .qr-code__heading {
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    .qr-code__text {
        font-size: 1.8rem;
        padding: 0.5rem 2.3rem 2rem 2.5rem;
    }
}